* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #07081A;
    font-family: "Inter", sans-serif;

}

.nav {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: space-between;
    max-width: 1040px;
    width: 100%;
    padding-top: 24px;
    border-bottom: 1px solid #261C51;
}

.imgDiv {
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
}

.link {
    text-decoration: none;
    display: flex;
    gap: 16px;
    color: white;
}

.home {
    text-decoration: none;
    gap: 16px;
    color: #8CE900;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textdiv {
    display: flex;
    max-width: 1040px;
    justify-content: space-between;
    align-items: center;
}

.bot {
    color: white;
    display: flex;
    justify-content: center;

}

.imagediv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.image {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.project {
    display: flex;
    justify-content: center;
}

.projecttwo {
    display: flex;
    width: 100%;
    max-width: 1040px;
    padding: 40px 72px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #07081A;
    background: #242642;
}

.text {
    font-size: 56px;
    color: #8CE900;
}

.project {
    color: #C0C0C0;
    text-align: center;
    font-size: 20px;
    background: #242642;
}

.bigdiv {
    display: flex;
    justify-content: center;
}

.lastimg {
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
}

footer {
    display: flex;
    justify-content: center;
}

.lastphoto {
    display: flex;
    gap: 254px;
    justify-content: flex-start;
    margin-top: 200px;
    padding-bottom: 68px;
    align-items: center;
}
.Design{
    color: #C0C0C0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imgdiv {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    max-width: 264px;
    width: 100%;
}
.title{
    color: #8CE900;
    text-decoration: none;
    gap: 16px;
}
.list{
 display: flex;
text-decoration: none;
color: white;
gap: 16px;
flex-direction: column;
}
.lastlist{
    display: flex;
text-decoration: none;
color: white;
gap: 16px;
flex-direction: column;
}
.contact{
    text-decoration: none;
    color: #8CE900;
}